---
title: Projects
---

<h3>Useful</h3>
<%=
  useful_projects = projects_with_category('useful')
  sorted_useful_projects = useful_projects.sort_by do
    |r| r.data['rank']
  end
  partial(:project_list,
          :locals =>
          { :projects => sorted_useful_projects,
            :ignored_category => 'useful' })
%>

<h3>Personal</h3>
<%=
  personal_projects = projects_with_category('personal')
  partial(:project_list,
          :locals =>
          { :projects => personal_projects,
            :ignored_category => 'personal' })
%>

<h3>Miscellaneous</h3>
<%=
misc_projects = all_projects - useful_projects - personal_projects
partial(:project_list, :locals => { :projects => misc_projects })
%>

<h3>
  Impact
</h3>

<p>
  Nothing is world famous, but..
</p>

<ul>
  <li>
    Hundreds of engineers, scientists, and educators have used
    <%= link_to 'reveal-ck', '/projects/reveal-ck' %> to build
    presentations.
  </li>
  <li>
    My team members get direct HipChats whenever their projects build
    or their code is deployed with
    <%= link_to 'hipchat-hotline', '/projects/hipchat-hotline' %>.
  </li>
  <li>
    I've built custom
    <%= link_to 'lint rules', '/projects/coffeelint-prefer-fewer-parens' %>
    so that my team can enforce their styles programmatically.
  </li>
  <li>
    Dozens of my co-workers continue to use
    <%= link_to 'getting-started-with-slate', '/projects/getting-started-with-slate' %>
    as their first Window Manager.
  </li>
</ul>
