---
title: About
---

<h3>Why?</h3>
<blockquote class="blockquote-large">
  You should always have a side project, too. Side projects give you
  an outlet, provide a useful distraction, let you explore new ideas,
  learn new concepts, and generally give you the freedom to be
  unaccountable. You don't have to worry about your boss or your
  coworkers ... Just have some fun. Treat yourself.
  <footer>
    <%= link_to 'defunkt', 'https://gist.github.com/defunkt/6443#file-gistfile1-txt-L200-L204' %>
  </footer>
</blockquote>

<h3>What?</h3>

<p>
  I build things that I find useful, and I am happy to share.
</p>

<p>
  I usually work in <%= link_to 'node', '/categories/#node' %> or
  <%= link_to 'ruby', '/categories/#ruby' %>, but technology choices
  aren't the focus.
</p>

<p>
  Instead I focus on helping the people around me by making
  <%= link_to 'little bets', 'http://petersims.com/2011/03/04/little-bets-qa/' %>.
</p>

<h3>Let's talk?</h3>
<p>
  If you've found a bug, have an idea for a feature, or would like
  to collaborate, please,
  <%= link_to 'send me an email', 'mailto:hi@jedcn.com' %>.
</p>
